.card{
    width: 350px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.card img{
    max-width: 350px;
    height: 250px;
    margin: 10px 0;
}

.card p{
    font-size: 18px;
    font-weight:500;
    margin: 10px 0;
}

.card  .info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;
}

.card .info .price{
    font-weight: 500;
    font-size: 18px;
}

.card .info button{
    font-size: 16px;
    background-color: #1C59AE;
    color: #ffffff;
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}